<% @set.shift %>
<% if item.id == 1 %>
	
<% else %>
<li><%= link_to item.title, '/views/' + item.link %>
<% end %>
<% unless item.leaf? %>
	<ul>
	  <%= render :partial => 'item', :collection => @set.select{|i| i.parent_id == item.id} %>
	</ul>
<% end %>
</li>
